/* Reset counter */
.main-content {
  counter-reset: h2counter;
}

.main-content h2 {
  counter-reset: h3counter;
  counter-increment: h2counter;
}

.main-content h2::before {
  content: counter(h2counter) ". ";
}

.main-content h3 {
  counter-increment: h3counter;
}

.main-content h3::before {
  content: counter(h2counter) "." counter(h3counter) " ";
}
